* {
    margin: 0;
    padding: 0;
}


/* Colors */

:root {
    --background-gradient: #333333; /* background-gradient */
    --Header-color: #660708; 
    --Button-color: #BA181B;
    --Transparent-decor: #662c06;
    --text-container: #B1A7A6;
    --gradient: linear-gradient(to right, #e5383b #ba181b);
    --contact-section: #d3d3d3;
    --footer-color: #161a1d;
}

/* Fonts */


.playfair-display-primary-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.landing-page {
    height: 650px;
    position: relative;
    background-color: slategray;
}

img {
    width: 320px;
    height: 320px;
    margin-top: -100px;
    margin-left: -50px;
}

nav {
    width: 400px;
    height: 50px;
    background-color: var(--Header-color);
    margin-left: 500px;
    margin-top: -185px;
    position: absolute;
    border-radius: 15px;
}

nav, ul, li {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding-left: 2px;
    padding-top: 4px;
}

nav, ul, li, a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Playfair Display;
    font-weight: 700;
}

nav ul li:first-child {
    padding-right: 20px;
}

nav ul li:nth-child(2) {
    padding-right: 20px;
}

nav ul li:nth-child(3) {
    padding-right: 20px;
}

nav ul li:nth-child(4) {
    padding-right: 20px;
}

.image {

    height: 520px;
    background-image: url("./assets/background1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -100px;
}

.transparent {
    width: 1300px;
    height: 330px;
    background-color: var(--Transparent-decor);
    position: absolute;
    margin-top: -330px;
    opacity: 0.5;
}

.line {
    width: 3px;
    height: 60px;
    background-color: black;
    border: none;
    margin-top: -182px;
    position: absolute;
    right: 350px;
}

.btn1 {
    width: 200px;
    height: 65px;
    background-color: var(--Button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:70px;
    top: 35px;
    border-radius: 15px;
}

.btn1 button {
    font-size: 1.3em;
    background-color: var(--Button-color);
    border: none;
    right: 0;
    color: white;
    font-family: Playfair Display;
}

.text-container {
    width: 600px;
    height: 400px;
    background-color: var(--text-container);
    margin-left: 500px;
    margin-top: -455px;
    display: flex;
    border-radius: 15px;
    position: absolute;
    border: 2px solid red;
    opacity: 0.8;
}

.text-container h1 {
    width: 800px;
    height: 300px;
    font-size: 3.5em;
    margin-top: 40px;
    margin-left: 5px;
}
.text-container span {
    color: var(--Header-color);
    font-weight: 700;
}

.text-container hr {
    position: absolute;
    width: 100px;
    height: 4px;
    border: none;
    background-color: black;
    margin-top: 258px;
    margin-left: 245px;
    border-radius: 10px;
}

.text-container p {
    position: absolute;
    margin-top: 232px;
    margin-left: 5px;
}

.btn2 {
    position: absolute;
    width: 180px;
    height: 60px;
    background-color: var(--Button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-left: 200px;
    border-radius: 15px;
}

.btn2 button {
    font-size: 1.5em;
    border: none;
    background-color: var(--Button-color);
    color: white;
    font-family: Playfair Display;
}

.bodyy {
    height: 700px;
    background-color: var(--text-container);
    position: relative;
}

.bodyy h2 {
    text-align: center;
}

.shade {
    width: 1200px;
    height: 630px;
    background-color: var(--background-gradient);
    margin-left: 145px;
    display: flex;
    position: relative;
}

.ist-img {
    width: 350px;
    height: 600px;
    background-image: url("./assets/pint1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
}

.tiny-box1 {
    width: 250px;
    height: 180px;
    background-color: var(--text-container);
    position: absolute;
    margin-left: 370px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.tiny-box1 h3, .tiny-box1 p {
    padding: 2px;
    margin-left: 10px;
}

.tiny-box1 button, .tinybox2 button {
    width: 120px;
    height: 35px;
    background-color: var(--Button-color);
    border: none;
    margin-top: 45px;
    margin-left: 15px;
    color: white;
    font-family: Playfair Display;
    font-size: 1em;
    border-radius: 10px;
}

.nd-img {
    width: 350px;
    height: 600px;
    background-image: url("./assets/nice.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    position: absolute;
    right: 20px;
    border-radius: 10px;
}

.tinybox2 {
    width: 250px;
    height: 180px;
    background-color: var(--text-container);
    position: absolute;
    bottom: 10px;
    right: 380px;
    border: 2px solid white;
    border-radius: 10px;
}

.tinybox2 h3, .tinybox2 p {
    padding: 2px;
    margin-left: 10px;
}

.amenities {
    height: 700px;
    background-color: var(--Header-color);
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    justify-content: center;
    align-items: center;
}

.amenities h2 {
    color: white;
    text-align: center;
    position: absolute;
    margin: 50%;
    bottom: -120px;
}

.div1 {
    width: 450px;
    height: 630px;
    background-image: url(./swim.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 8px;
}

.div2 {
    width: 450px;
    height: 520px;
    background-image: url(./assets/food.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 8px;
}

.div3 {
    width: 450px;
    height: 630px;
    background-image: url(./assets/gym.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 8px;
}

/* Contact section */

.contact {
    height: 700px;
    position: relative;
    background-color: var(--contact-section);
}

.contact h2 {
    text-align: center;
}

.form {
    width: auto;
    height: 230px;
    /* background-color: green; */
    text-align: center;
    vertical-align: middle;
    padding-top: 60px;
}

#text {
    width: 300px;
    height: 100px;
}

label {
    font-size: 22px;
}
input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin-top: -30px;
}

.div-container {
    width: auto;
    height: 280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
    margin-top: 5%;
    margin-left: 3%;
}

.div4 {
    width: 400px;
    height: 250px;
    /* border: 2px solid blue; */
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: 10px;
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 20px 15px;
}

.div4 address, .div5 address, .div6 address {
    padding: 60px;
}

.div4 address p a{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fas.fa-location-dot {
    font-size: 80px;
    margin: auto;
    color: crimson;
}
.fas.fa-phone {
    font-size: 80px;
    color: crimson;
}
.fas.fa-envelope {
    font-size: 80px;
    color: crimson;
}



.div5 {
    width: 400px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: 10px;
    position: relative;
    text-align: center;
    padding: 20px 15px;

}

.div5 address p a{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div6 {
    width: 400px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: 10px;
    position: relative;
    text-align: center;
    padding: 20px 15px;
}
.div6 address p a{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact button {
    width: 250px;
    height: 45px;
    background-color: var(--Button-color);
    margin-left: 40%;
    border-radius: 12px;
    color: white;
    font-size: 1.6em;
    border: none;
    font-family: Playfair Display;
    position: absolute;
    margin-top: -2%;
}

/* footer section */

footer {
    height: 700px;
    background-color: var(--footer-color);
    display: flex;
    align-items: center;

}
.footer-container {
    max-width: 1300px;
    height: 680px;
    background-color: rgba(211, 211, 211, 0.5);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-radius: 15px; 
}

.colorlib {
    width: 500px;
    height: 300px;
    /* background-color: red; */
    /* padding: 10px 5px; */
    position: relative;
    margin-top: -15%;
    padding: 10px;
}

.colorlib ol li {
    padding-bottom: 15px;
}
.colorlib p {
    padding-top: 18px;
}

.colorlib h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.social-icons {
    max-width: 180px;
    height: 60px;
    /* background-color: #333; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.Latest-news {
    width: 500px;
    height: 300px;
    /* background-color: blue; */
    /* padding: 10px 5px; */
    margin-top: -15%;
    position: relative;
    text-align: center;
    padding: 20px;
}

.Latest-news ol li {
    padding-bottom: 15px;
}

.Latest-news h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}



.Latest-news p {
    padding-top: 10px;
}
.quick-links {
    width: 500px;
    height: 300px;
    /* background-color: black; */
    /* padding: 10px 5px; */
    margin-top: -15%;
    text-align: center;
}

.quick-links button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.special-offers {
    width: 200px;
    height: 150px;
    background-color: #e5383b;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 10px;
    border: none;
}

.special-offers h3 {
    font-size: xx-large;
}

.special-offers hr {
    width: 25px;
    margin: auto;
    border-color: black;
    background-color: black;
}

.special-offers button {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    background-color: #660708;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.quick-links h2 {
    color: black;
}

.copyright {
    position: absolute;
    margin-top: 30%;
    margin-left: 40%;
}





